
*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #333;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    justify-content: center;
 
  }
  #app {
    display: flex;
    width: 100%;
  }
  
  aside.sidebar {
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ccc;
    width: 250px;
  }
 
  .sidebar-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    color: #000000;
    justify-content: space-between;
    display: flex;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    height: calc(100% - 68px);
    justify-content: space-between;
}


  .sidebar-nav button {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    margin: 5px 0;
    background-color: #ffffff;
    
  }
  #Menu{
    height: 100%;
   

  }
i{
    color: #000000;
}
 
 
 
  main.content-area {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
 
  .inbox-list {
    margin-bottom: 20px;
  }
 
  .message-pane,
  .compose-pane {
    display: none;
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
 
  .compose-pane {
    display: block;
  }
 
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
 
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
 
  input[type="email"],
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .btn {
    position: relative;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    background: none;
    border: 2px solid #646cff;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .sair {
    position: relative;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    background: none;
    border: 2px solid #ff0000;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
  }
 
  .liquid {
    background: linear-gradient(#646cff 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s),
      background-position 0.3s calc(0.3s - var(--t, 0s));
  }
 
  .liquid:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
  }
 
  .sair{
    background: linear-gradient(#ff0000 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s),
      background-position 0.3s calc(0.3s - var(--t, 0s));
  }
 
  .sair:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
  }
